.nav-top{
    background-color: #09090a;
    padding: 10px 0px;
    color: white;
    text-align: center;
    margin-top: 0px;
    }
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    font-weight:bolder;
    cursor: pointer;;
    }
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 30%;
    justify-content: flex-end;
    font-size: 11px;
    list-style: none;
    }
