.zaatar-container {
   position: relative;
   display: inline-block;   
   max-width: 100%;
   margin-bottom: 25px;
  }
  
.zaatar-image {
   max-width: 100%;
   height: auto;
   object-fit: cover;
    
     }
.text-overlay {
   position: absolute;
   top: 46%; 
   left: 2%; 
   color: black; 
   font-size: 105px; 
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    }
.shopnow{
    position: absolute;
    top: 110%; 
    left: 2%; 
    font-size: 20px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgbrgb(62,54,51);
    padding: 20px 50px;
    border: 1px solid black;
    border-radius: 35px;
    cursor: pointer;
    background-color: inherit;
    }
